@import '../../../variables';
.DashboardContainer {
  
  display: flex;
  flex-wrap: wrap;
  background: none;
  justify-content: space-between;
  margin: 16px;

}

.InputDashboardFund {
  width: 80px;
  margin-right: 4px;
  font-size: 18px;
}

.DashboardBox {
  /*width: calc((@client-width / 2) - 2em);*/
  width: calc(50% - 8px);
  margin-bottom: 16px;
  padding: 16px;
  
  box-shadow: 0 0 8px rgba(0, 0, 0, .125);
  height: auto;
  opacity: 1;
  background: white;
  color: black;
}

.DaschboardboxTitle {
  font-size: 16px;
    display: block;
    font-weight: 600;
    color: ;
}