@import '~antd/dist/antd.less';

/*
variables to override:
 https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 */
@primary-color: #1890ff;
@link-color: #1890ff;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@font-size-base: 14px;
@heading-color: rgb(12, 54, 125);
@text-color: rgba(42, 41, 41, 0.65);
@text-color-secondary: rgba(0, 0, 0, 0.45);
@disabled-color: rgba(0, 0, 0, 0.25);
@border-radius-base: 4px;
@border-color-base: #575151;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);

@layout-header-background: #71b6fd;
@layout-header-height: 180px;
@layout-header-padding: 0 50px;
@layout-header-color: @text-color;

.ant-list-split .ant-list-item {
  border-bottom: 1px solid #fff;
}

.ant-layout-footer {
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ant-layout-header {
    height: 20vh;
    padding: 0 50px;
    color: rgba(42, 41, 41, 0.65);
    line-height: 2vh;
    background: linear-gradient(0deg,#0c152e,#101c3d);
}

.ant-statistic-content {
    color: #fafafa;
    font-size: 12px;
    line-height: 1rem;
}

.ant-statistic-title {
    margin-bottom: 4px;
    color: #4070f4;
    font-size: 12px;
    line-height: 0.5rem;
    font-weight: bold;
}

.Wallet {
  margin: 2vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-list-item-meta-description {
    color: rgba(0, 0, 0, 0.45);
    font-size: 10px;
    line-height: 0.2rem;
}