.Wallet {
  //width: 35vw;
  //max-width: 35vw;
}

.Contract-list {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  overflow: auto;
  height: 155px;
  text-align: left;
}

.Overview {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  overflow: auto;
  height: 420px;
  text-align: left;
}

.OverviewList {

}
