.TransactionDetailsContainer {
  text-align: left;
  margin-left: 1em;
}

.TransactionDetailsTitle {
  display: block;
  font-size: 20px;
}

.TransactionDetailsSubTitle {
  font-size: 12px;
  display: block;
}
